# Accenture Song 2nd Round

## 1. Data Pipeline & ETL

Build a small ETL pipeline that:
- Produces a cleaned dataset suitable for downstream use

In [1]:
import pandas as pd


CUSTOMER_DATA = "./data/customers.csv"
TRANSACTIONS_DATA = "./data/transactions.csv"


customer_raw = pd.read_csv(CUSTOMER_DATA)
transactions_raw = pd.read_csv(TRANSACTIONS_DATA)

print(customer_raw.dtypes)
print()
print(transactions_raw.dtypes)
print()
customer_raw.shape, transactions_raw.shape

customer_id    int64
country          str
signup_date      str
email            str
dtype: object

transaction_id      int64
customer_id       float64
amount            float64
currency              str
timestamp             str
category              str
dtype: object

((5000, 4), (122000, 6))

In [2]:
customer_raw.head()

   customer_id country signup_date              email
0            1      DK  2022-01-22  user0@example.com
1            2      FI  2021-12-22  user1@example.com
2            3      SE  2023-08-18  user2@example.com
3            4      DK  2022-01-25  user3@example.com
4            5      DK  2019-09-26  user4@example.com

In [3]:
import numpy as np
transactions_raw["customer_id"] = transactions_raw["customer_id"].dropna().astype("Int64")

In [4]:
customer_clean = customer_raw.copy()
customer_clean["customer_id"] = pd.to_datetime(customer_clean["signup_date"])
transactions_clean = transactions_raw.copy()

In [5]:
transactions_clean = transactions_raw.copy()

In [6]:
transactions_clean["amount"].isna().sum()  # currency NA 2644 | category NA 20220 | customer_id NA 30

np.int64(0)

In [7]:
from etl import run_pipeline

customer_clean, transactions_clean = run_pipeline()

In [8]:
customer_clean.head()

   customer_id country signup_date              email
0            1      DK  2022-01-22  user0@example.com
1            2      FI  2021-12-22  user1@example.com
2            3      SE  2023-08-18  user2@example.com
3            4      DK  2022-01-25  user3@example.com
4            5      DK  2019-09-26  user4@example.com

In [9]:
print(48502 + 24455 + 24377)

97334

In [10]:
transactions_clean["currency"].value_counts()

currency
EUR    48502
SEK    24455
NOK    24377
Name: count, dtype: int64

## 2. Feature Engineering + Simple Logic

From the cleaned data, implement one of the following:
- A small feature set per customer (e.g. transaction frequency, average amount)
- A simple rule-based classification (e.g. flagging unusual transactions)
- A lightweight model (optional, not required)

Explain:
- Why you chose these features or rules
- What business question they might support

In [11]:
from features import create_features

features = create_features(customer_clean, transactions_clean)
features.head()

,customer_id,country,customer_length,total_spent,transaction_count,avg_transaction_amount,first_transaction_date,last_transaction_date
0,1,DK,1477,1941.31,19,102.174211,2020-01-07 14:13:00,2020-10-26 11:54:00
1,2,FI,1508,1692.05,17,99.532353,2020-01-08 13:31:00,2020-12-11 14:35:00
2,3,SE,904,1286.59,13,98.968462,2020-01-21 20:20:00,2020-11-10 05:25:00
3,4,DK,1474,2533.56,23,110.154783,2020-01-29 10:49:00,2020-11-18 15:12:00
4,5,DK,2326,1452.62,15,96.841333,2020-02-23 06:19:00,2020-10-22 05:44:00